/*General style start*/
:root{
  --dark-g : rgb(29, 58, 54);
  --yellow : #FFC40C;
  --original : white;
}
a{
  display: flex;
  align-items: center;
  outline: none;
  text-decoration: none;
  justify-content: center;
  color: white;
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}
body{
  font-family: "Inter", sans-serif;
  color: white;
  padding: 0;
  background-color: var(--original);
  overflow-x: hidden;
  min-width: 373px;
}
/*General style end*/

/*Navbar style start*/
.navbar {
  background-color: rgba(28, 59, 55, 0.75);
  height: 90px;
  padding: 0 99px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: height 0.25s, padding 0.25s;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 998;
}
#black-screen{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    display: none;
  }
.navbar .nav{
  display: flex;
  align-items: center;
}
.navbar .nav a{
  margin: 0 21.5px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  cursor: pointer;
}
.navbar .extra a{
  cursor: pointer;
}
.navbar .nav a::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: rgba(45, 146, 132, 0.75);
  border-radius: 5px;
  bottom: -9px;
  scale: 0;
  transition: scale 0.15s;
}
.navbar .nav a:hover::after {
  scale: 1;
}
.navbar .extra {
  display: flex;
  flex-direction: row;
}
.navbar .extra a{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  transition: background-color 0.15s;
  position: relative;
}
#menu{
  display: none;
  cursor: pointer;
}
#user{
  display: none;
}
.navbar .extra a:hover {
 background-color: rgba(45, 146, 132,0.25);
 .tooltips {
  opacity: 1;
  transition: opacity 0.15s;
  transition-delay: 0.5s;
 }
}
.navbar .extra a .tooltips {
  position: absolute;
  padding: 6px 12px;
  background-color: rgba(88, 88, 88, 0.75);
  font-size: 11px;
  white-space: nowrap;
  bottom: -30px;
  opacity: 0;
  pointer-events: none;
}
.navbar .extra a p{
  position: absolute;
  font-size: 12px;
  padding: 4px 4px;
  opacity: 0;
  background-color: #FFC40C;
  text-align: center;
  min-width: 14.5px;
  border-radius: 20px;
  right: 4px;
  color: var(--dark-g);
  top: 8px;
  pointer-events: none;
  font-weight: 600;
  transition: all 0.15s;
}
#close {
  display: none;
  cursor: pointer;
}
@keyframes showDetail{
  0%{
    transform: translateX(800px);
    display: flex;
  }
  100%{
    transform: translateX(0px);
    display: flex;
  }
}
@keyframes closeDetail{
  0%{
    transform: translateX(0px);
    display: flex;
  }
  100%{
    transform: translateX(800px);
    display: none;
  }
}
/*Media Query*/
/*Tablet*/
@media (max-width: 980px) {
  .navbar .extra a p{
    font-size: 8px;
    padding: 2px 2px;
    min-width: 10px;
  }
  .navbar {
    height: 60px;
    padding: 0 45px;
  }
  #logo svg {
    height: 30.82px;
    width: 46.33px;
  }
  .navbar .extra a{
    width: 42px;
    height: 42px;
  }
  .navbar  .extra a svg{
    width: 20px;
    height: 19px;
  }
}
/*Mobile Phone*/
@media (max-width: 790px) {
  .navbar {
    padding: 0 24px;
  }
  .navbar .nav{
    position: fixed;
    flex-direction: column;
    display: none;
    right: 0px;
    top: 0;
    bottom: 0;
    background-color: var(--dark-g);
    align-items: start;
    width: 70%;
    z-index: 1000;
    gap: 10px;
    padding-top: 60px;
    transition: right 0.5s;
  }
  @keyframes showMenu{
    0%{
      transform: translateX(800px);
      display: flex;
    }
    100%{
      transform: translateX(0px);
      display: flex;
    }
  }
  @keyframes closeMenu{
    0%{
      transform: translateX(0px);
      display: flex;
    }
    100%{
      transform: translateX(800px);
      display: none;
    }
  }
  #menu {
    display: flex;
  }
  .navbar .nav a{
    font-size: 20px;
    height: 60px;
    margin: 0;
    padding-left: 40px;
    width: 100%;
    justify-content: start;
    transition: background-color 0.15s;
    font-size: 16px;
    font-weight: 500;
  }
  .navbar .nav a::after{
    display: none;
  }
  .navbar .nav a:hover {
    background-color: rgba(45, 146, 132, 0.35);
  }
  #close {
    position: absolute;
    top: 18px;
    right: 24px;
    width: 42px;
    height: 42px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #close svg{
    transition: scale 0.15s;
  }
  #close:active{
    background-color: transparent;
    svg{
      scale: 1.5;
    }
  }
  .navbar .extra a:hover {
    background-color: transparent;
    .tooltips {
     opacity: 0;
    }
   }
  .navbar .extra a:active {
    background-color: rgba(45, 146, 132,0.25);
    .tooltips {
     opacity: 1;
     transition: opacity 0.15s;
     transition-delay: 0.5s;
    }
   }
}
/*Navbar style end*/

/*Hero style start*/
.hero{
  width: 100vw;
  height: 100vh;
  background: url(img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.hero .top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin-top: 90px;
}
.hero .top .left{
  font-size: 56px;
  font-style: italic;
  font-weight: 300;
  transition: font-size 0.25s;
}
.hero .top .right{
  font-size: 56px;
  font-style: italic;
  font-weight: 300;
  max-width: 390px;
  text-align: end;
  transition: font-size 0.25s;
}
.hero .top .right span{
  font-size: 50px;
  font-weight: 200;
  transition: font-size 0.25s;
}
.hero .bottom {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  bottom: 33px;
  transition: scale 0.25s;

}
.hero .bottom a{
  font-size: 24px;
  font-weight: 700;
  width: 276px;
  cursor: pointer;
  height: 58px;
  border-radius: 30px;
  border: 1px solid var(--original);
  transition: background-color 0.25s, border, 0.15s, color 0.15s,  width 0.25s, height 0.25s, font-size 0.25s;
}
.hero .bottom a:hover{
  background-color: rgba(255, 255, 255, 0.15);
}
.hero .bottom a:active{
  background-color: var(--original);
  border: black solid 1px;
  color: black;
}
.hero .bottom p{
  font-size: 20px;
  font-weight: 300;
  transition: font-size 0.25s;
}

/*Media Query*/
/*Tablet*/
@media (max-width: 980px) {
  .hero .top{
    margin-top: 60px;
  }
 .hero .top .left, .hero .top .right {
  font-size: 44px;
 }
 .hero .top .right span {
  font-size: 38px;
 }
 .hero .bottom{
  scale: 0.8;
 }
}

/*Mobile Phone*/
@media (max-width: 790px) {
  .hero{
    background: url(img/hero-bg-vertical.png);
    background-position: center;
    background-size: cover;
    flex-direction: column;
    gap: 43px;
  }
  .hero .top{
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    flex: 1;
    margin-top: 128px;
  }
  .hero .top .right{
    text-align: center;
  }
  .hero .top .left{
    font-size: 36px;
  }
  .hero .top .right, .hero .top .right p{
    font-size: 24px;
  }
  .hero .top .right span{
    font-size: 36px;
  }
  .hero .bottom{
    position: relative;
    margin-bottom: 56px;
    bottom: 0;
    scale: 1;
    gap: 12px;
  }
  .hero .bottom a{
    width: 223px;
    height: 34.42px;
    font-size: 14px;
  }
  .hero .bottom p{
    font-size: 12px;
  }
  .hero .bottom a:hover{
    background-color: transparent;
  }
  .hero .bottom a:active{
  background-color: var(--original);
  border: black solid 1px;
  color: black;
  }
}
/*Hero style end*/

/*Produk style start*/
.produk {
  display: none;
  flex-direction: column;
  width: 100vw;
  padding-top: 132px;
  padding-bottom: 42px;
  gap: 42px;
  transition: padding 0.25s;
  min-height: calc(100vh - 90px);
}
.produk .kategori-box {
  padding: 0 99px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  transition: padding 0.25s;
}
#namaKategori {
  font-size: 28px;
  font-weight: 500;
  color: #050606;
  transition: font-size 0.25s;
}
.produk .kategori-box .produk-list {
  width: 100%;
  border-top: 1px rgba(29, 58, 54, 0.35) solid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: space-between;
  gap: 36px;
  padding: 21px 0px 5px 0px;
}
.produk .kategori-box .produk-list .produk-detail {
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.25);
  display: flex;
  background-color: var(--original);
  flex-direction: column;
  position: relative;
}
.produk .kategori-box .produk-list .produk-detail .deskripsi {
  background-color: rgba(29, 58, 54, 0.75);
  padding: 12px 18px 16px 18px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.produk .kategori-box .produk-list .produk-detail img{
  width: 100%;
  height:  100%;
  padding-bottom: 20px;
  object-fit: contain;
}
#hargaProduk, #stokProduk{
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  color: rgba(29, 58, 54,0.85);
  bottom: 118px;
}
#hargaProduk{
  left: 18px;
}
#stokProduk {
  right: 18px;
  font-style: normal;
}
#namaProduk {
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#namaProduk::-webkit-scrollbar {
  display: none;
}
#sewaProduk{
  width: 100%;
  height: 34px;
  background-color: var(--yellow);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.15s;
  cursor: pointer;
}
#sewaProduk:hover{
  background-color: rgb(255, 213, 89);
  scale: 1.01;
}
#sewaProduk:active{
  background-color: var(--original);
  color: #FFC40C;
}
#yCart, .added-to-cart{
  position: absolute;
  top: 5px;
  right: 10px;
  width: 46px;
  cursor: pointer;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 50%;
  transition: background-color 0.15s;
}
@keyframes checkPop{
  0%{
    scale: 0;
  }
  40%{
    scale: 1;
  }
  85%{
    scale: 1;
  }
  100%{
    scale: 0;
  }
}
.added-to-cart {
  background-color: var(--original);
  align-items: center;
  scale: 0;
  transition: all 0.25s;
}
.added-to-cart svg{
  color: var(--yellow);
  scale: 1.3;
}
.added-to-cart-show{
  animation: checkPop;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
#yCart svg{
  margin-top: 3.5px;
}
#hargaProduk, #stokProduk {
  bottom: 105px;
}
#yCart:hover {
  background-color: rgba(197, 197, 197, 0.15);
}
/*Media Query*/
/*Tablet*/
@media (max-width: 980px) {
  html{
  scroll-padding-top: 60px;
  }
  .produk {
    padding-top: 84px;
    gap: 36px;
  }
  .produk .kategori-box .produk-list {
    gap: 45px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .produk .kategori-box{
    padding: 0 45px;
  }
  #namaKategori{
    font-size: 24px;
  }
  #namaProduk{
    font-size: 16px;
    font-weight: 600;
  }
  #selengkapnya{
    font-size: 18px;
  }
}
/*Mobile Phone*/
@media (max-width: 790px) {
  #yCart:hover {
    background-color: transparent;
  }
  #yCart:active {
    background-color: rgba(197, 197, 197, 0.25);
  }
  #sewaProduk:hover{
    background-color: #FFC40C;
    scale: 1;
  }
  #sewaProduk:active{
    color: white;
    background-color: rgb(255, 213, 89);
    scale: 1.01;
}
  .produk .kategori-box{
    padding: 0 24px;
  }
  .produk .kategori-box .produk-list {
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  #namaKategori{
    font-size: 16px;
  }
  .produk .kategori-box .produk-list .produk-detail .deskripsi{
    padding: 6px 8px 8px 8px;
    gap: 6px;
    justify-content: center;
    max-height: 52.5px;
  }
  #hargaProduk, #stokProduk {
    font-size: 8px;
    bottom: 55px;
  }
  #hargaProduk {
    left: 8px;
  }
  #stokProduk{
    right: 8px;
  }
  #namaProduk{
    font-size: 9px;
    font-weight: 600;
  }
  #sewaProduk{
    height: 17.5px;
    font-size: 10px;
  }
  .produk .kategori-box .produk-list {
    padding-top: 12px;
  }
  #yCart svg, .added-to-cart svg {
    height: 14.66px;
    width: 14.7px;
  }
  .added-to-cart svg{
    scale: 1;
  }
  #yCart, .added-to-cart {
    width: 23.67px;
    height: 23.67px;
  }
  .produk{
    gap: 24px;
  }
}
/*Produk style end*/

/*Kontak style start*/
.kontak{
  width: 100vw;
  height: calc(100vh - 90px);
  display: none;
  flex-direction: column;
  gap: 36px;
  border-top: 1px solid rgba(29, 58, 54, 0.35);
}
.kontak h1{
  font-size: 40px;
  font-weight: 600;
  color: black;
  text-align: center;
  margin-top: 48px;
  transition: margin 0.25s, font-size 0.25s;
}
.kontak .kontak-detail{
  padding: 0 99px;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 36px;
  margin-bottom:42px;
  transition: padding 0.25s;
  transition: gap 0.25s;
}
.kontak .kontak-detail .google-map{
  flex: 1;
  box-shadow: 2px 2px 9px 2px rgba(0,0,0,0.25);
}
.kontak .kontak-detail .sosmed-icon{
  display: flex;
  flex-direction: column;
  gap: 36px;
  transition: gap 0.25s;
}
.kontak .kontak-detail .sosmed-icon .icon{
  width: 62px;
  height: 62px;
  background-size: cover;
  transition: scale 0.25s;
  cursor: pointer;
}
.kontak .kontak-detail .sosmed-icon .icon:hover {
  scale: 1.1;
}
#wa {
  background-image: url(img/whatsapp.svg);
}
#ig{
  background-image: url(img/ig.svg);
}
#mail{
  background-image: url(img/mail.svg);
}
/*Media Query*/
/*Tablet*/
@media (max-width: 980px) {
  .kontak{
    height: calc(100vh - 60px);
  }
 .kontak .kontak-detail {
  padding: 0 45px;
 }
 .kontak h1{
  margin-top: 36px;
  font-size: 36px;
 }
 .kontak .kontak-detail .sosmed-icon .icon{
  height: 55px;
  width: 55px;
 }
 .kontak .kontak-detail .sosmed-icon {
  gap: 24px;
 }
 .kontak .kontak-detail {
  gap: 24px;
 }
}
/*Mobile Phone*/
@media (max-width: 790px){
  .kontak h1{
    margin-top: 33px;
    font-size: 24px;
 }
 .kontak{
    gap: 23px;
 }
  .kontak .kontak-detail{
    flex-direction: column;
    padding-top: 56px;
    position: relative;
    padding-left: 24px;
    padding-right: 24px;
  }
  .kontak .kontak-detail .sosmed-icon{
    position: absolute;
    flex-direction: row;
    left: 24px;
    right: 24px;
    top: 0;
    justify-content: center;
    gap: 51px;
  }
  .kontak .kontak-detail .sosmed-icon .icon {
    width: 39.33px;
    height: 39.33px;
  }
  .kontak .kontak-detail .sosmed-icon .icon:hover {
    scale: 1;
  }
  .kontak .kontak-detail .sosmed-icon .icon:active {
    scale: 1.1;
  }
}
/*Kontak style end*/

/*Riwayat style start*/
.riwayat{
  min-height: calc(100vh - 90px);
   border-top: 1px solid rgba(29, 58, 54, 0.35);
   display: none;
   flex-direction: column;
   overflow-x: hidden;
}
.riwayat h1{
  margin-top: 48px;
  font-size: 40px;
  color: black;
  font-weight: 600;
  text-align: center;
  margin-bottom: 36px;
  transition: margin-top 0.25s, font-size 0.25s;
}
.riwayat .keterangan{
  background-color: black;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 1fr;
  column-gap: 36px;
  padding: 20px 99px;
  transition: padding 0.25s, gap 0.25s;
}
.riwayat .keterangan p{
  font-size: 20px;
  font-weight: 500;
  flex: 1;
  transition: font-size 0.25s;
  white-space: nowrap;
}
.riwayat .data-riwayat{
  display: grid;
  grid-template-columns: 50px repeat(4, minmax(0, 1fr));
  column-gap: 36px;
  padding: 20px 99px;
  border-bottom: 1px solid rgba(29, 58, 54, 0.35);
  align-items: center;
  transition: padding 0.25s, gap 0.25s;
}
.riwayat .data-riwayat p, .riwayat p a{
  color: rgb(0, 0, 0, 0.75);
  flex: 1;
  font-size: 18px;
  transition: font-size 0.25s;
}
.riwayat p{
  display: flex;
  justify-content: center;
}
.riwayat .nomor{
  max-width: 45px;
}
.riwayat .data-riwayat .status a{
  padding: 9px 29px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  background-color: #808080;
  color: white;
  flex: 0;
  transition: padding 0.25s, font-size 0.25s;
}
.riwayat .data-riwayat .nama a, .riwayat .data-riwayat .perlengkapan a {
  justify-content: start;
}

.riwayat .data-riwayat .nama, .riwayat .data-riwayat .perlengkapan{
  overflow: hidden;
  display: flex;
  justify-content: start;
}
.data-riwayat .tanggal-sewa{
  white-space: nowrap;
}
/*Media Query*/
/*Tablet*/
@media (max-width: 980px) {
  .riwayat {
    min-height: calc(100vh - 60px);
  }
 .riwayat h1 {
  margin-top: 36px;
  font-size: 36px;
 }
 .riwayat .keterangan {
  padding: 15px 45px;
 }
 .riwayat .keterangan p{
  font-size: 16px;
 }
 .riwayat .data-riwayat {
  padding: 15px 45px;
 }
 .riwayat .data-riwayat p, .riwayat p a {
  font-size: 14px;
 }
 .riwayat .data-riwayat .status a {
  padding: 6px 18px;
  font-size: 13px;
 }
}
/*Mobile Phone*/
@media (max-width: 790px){
  .riwayat h1 {
  margin-top: 33px;
  margin-bottom: 23px;
  font-size: 24px;
 }
 .riwayat .keterangan {
  padding: 10px 24px;
  grid-template-columns: 30px 1fr 1fr 1fr;
  column-gap: 15px;
 }
  .riwayat .keterangan p{
  font-size: 12px;
 }
 .riwayat .keterangan .tanggal-sewa, .riwayat .data-riwayat .tanggal-sewa{
  display: none;
}
  .riwayat .data-riwayat {
  padding: 10px 24px;
  grid-template-columns: 30px repeat(3, minmax(0, 1fr));
  column-gap: 15px;
 }
  .riwayat .data-riwayat p, .riwayat p a {
  font-size: 11px;
 }
 .riwayat .data-riwayat .status a {
  padding: 3px 13px;
  font-size: 10px;
 }
}
/*Riwayat style end*/

/*Footer style start*/
.footer {
  height: calc(45vh - 90px);
  background-color: var(--dark-g);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: height 0.25s;
}
.footer .middle{
  display: flex;
  flex-direction: column
}
.footer .middle p{
  font-size: 20px;
  font-weight: 400;
  transition: font-size 0.25s;
}
.footer .middle p:nth-child(3), .footer .middle p:nth-child(1){
  opacity: 50%;
}
.footer .bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 32px;
  left: 99px;
  right: 99px;
  transition: left 0.25s, right 0.25s, bottom 0.25s;
}
.footer .bottom p, .footer .bottom p a{
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  gap: 4px;
  transition: font-size 0.25s, gap 0.25s;
}
.footer .bottom p a:hover{
  text-decoration: underline;
}
/*Tablet*/
@media (max-width: 980px) {
  .footer .bottom{
    left: 45px;
    right: 45px;
    bottom: 24px;
  }
  .footer .bottom p, .footer .bottom p a{
  font-size: 14px;
  gap: 3px;
}
.footer .middle p{
  font-size: 18px;
}
}
/*Mobile Phone*/
@media (max-width: 790px){
   .footer .bottom{
    left: 24px;
    right: 24px;
  }
   .footer .bottom p, .footer .bottom p a{
  font-size: 10px;
}
.footer .middle p{
  font-size: 12px;
}
.footer {
  height: calc(40vh - 60px);
}
}
/*Footer style end*/

/*Checkout style start*/
.checkout-page{
  width: calc(100vw);
  height: auto;
  overflow-x: hidden;
  display: none;
  transition: padding-top 0.25s;
  padding: 49px 0;
  padding-top: 223px;
  margin-bottom: 111.5px;
  justify-content: center;
  position: relative;
}
.checkout-page::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 99px;
  right: 99px;
  height: 48px;
  border-top: 1px solid rgba(29, 58, 54, 0.35);
  background-color: rgb(255, 255, 255, 0.35);
  transition: all 0.25s;
  z-index: -9;
}
.checkout-page .top-pad{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--original);
  height: 223px;
  z-index: 100;
}
.checkout-page .bottom-pad{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 49px;
  z-index: 99;
  background-color: var(--original);
}

.checkout-page .keterangan{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 42px;
  height: 60px;
  align-items: center;
  background-color: rgb(255, 196, 12);
  position: fixed;
  top: 139px;
  left: 99px;
  right: 99px;
  z-index: 100;
  gap: 24px;
  transition: all 0.25s;
}
.checkout-page .keterangan p{
  color: rgba(0,0,0,0.75);
  font-size: 16px;
  font-weight: 500;
  flex: 1;
  white-space: nowrap;
  }
.checkout-page .keterangan .daftarItem{
  font-size: 20px;
  min-width: 217px;
  transition: all 0.25s;
  }

.checkout-page .keterangan .hargaItem, .jumlahItem {
  text-align: center;
}

.checkout-page .keterangan .totalHarga{
  text-align: end;
}


 .checkout-page .sub-total-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 13px;
  align-items: center;
 }
.checkout-page .sub-total-container .checkout-button{
  height: 35px;
  width: 140px;
  border-radius: 9px;
  border: 1px solid #FFC40C;
  font-size: 16px;
  color: var(--dark-g);
  font-weight: 600;
  background-color: #FFC40C;
  cursor: pointer;
  transition: all 0.15s;
}
.checkout-page .sub-total-container .checkout-button:hover{
  background-color: rgba(255, 196, 12, 0.85);
}
.checkout-page .sub-total-container .checkout-button:active{
  background-color: transparent;
  color: #FFC40C;
}
.checkout-page .sub-total-container .subtotal{
  font-weight: 600;
  font-style: italic;
}
.checkout-page .sub-total-container .subtotal .sub-total-price{
  font-weight: 400;
  font-style: normal;
  margin-top: 8px;
}

.checkout-page .checkout-action-container {
background-color: var(--dark-g);
position: fixed;
bottom: 0;
height: auto;
width: calc(398px - 80px);
padding: 19px 40px;
display: flex;
flex-direction: column;
justify-content: space-between;
z-index: 100;
transition: all 0.25s;
}

.checkout-page .checkout-action-container  .date-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid rgb(255, 255, 255, 0.35);
  padding-bottom: 13px;
}

.checkout-page .checkout-action-container  .date-container  .date{
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255);
  margin-top: 8px;
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
}
#tanggalPengembalian{
  text-align: end;
}

.checkout-page .checkout-action-container  .date-container .date::-webkit-calendar-picker-indicator{
  display: none;
}

.checkout-page .checkout-action-container  .date-container .date:hover{
  color: rgba(255, 255, 255, 0.75);
}

.checkout-page .checkout-action-container  .date-container  .pengembalian{
  text-align: end;
  display: flex;
  flex-direction: column;
}
.checkout-page .checkout-action-container  .date-container  .pengambilan{
  display: flex;
  flex-direction: column;
}

.checkout-page .checkout-item-container{
  width: 100%;
  margin: 0 99px;
  transition: all 0.25s;
}

.checkout-page .checkout-item-container .item-detail {
  display: flex;
  flex-direction: row;
  padding-right: 42px;
  padding-left: 42px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(29, 58, 54, 0.35);
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  transition: all 0.25s;
}

.checkout-page .checkout-item-container .item-detail .nama-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  flex: 1;
  min-width: 217px;
}

.checkout-page .checkout-item-container .item-detail .nama-item a{
  color: rgba(0, 0, 0, 0.55);
  width: 42px;
  height: 42px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.15s;
  position: absolute;
  left: -42px;
  transition: all 0.25s;
}

.checkout-page .checkout-item-container .item-detail .nama-item a:active{
  scale: 1.25;
}

.checkout-page .checkout-item-container .item-detail .nama-item div{
  width: 75px;
  height: 75px;
  border: 1px solid rgb(28, 59, 55);
  transition: all 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout-page .checkout-item-container .item-detail .nama-item div img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.checkout-page .checkout-item-container .item-detail .nama-item p{
  color: rgba(0, 0, 0, 0.75);
  font-size: 20px;
  font-weight: 400;
  margin-left: 42px;
  left: 117px;
  transition: left 0.25s;
  max-width: 100px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  transition: all 0.25s;
}

.checkout-page .checkout-item-container .item-detail .harga-item{
  color: rgba(0, 0, 0, 0.75);
  font-weight: 400;
  font-size: 16px;
  flex: 1;
  text-align: center;
}

.checkout-page .checkout-item-container .item-detail .jumlah-item-container{
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.checkout-page .checkout-item-container .item-detail .jumlah-item-container a{
  background-color: rgba(29, 58, 54, 0.25);
  text-align: center;
  width: 25px;
  height: 22px;
  padding-bottom: 3px;
  color: black;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.15s;
}

.checkout-page .checkout-item-container .item-detail .jumlah-item-container a:active{
  background-color: rgba(29, 58, 54, 0.35);
}

.checkout-page .checkout-item-container .item-detail .jumlah-item-container p{
  min-width: 35px;
  color: black;
  text-align: center;
}

.checkout-page .checkout-item-container .item-detail .total-harga-item {
  flex: 1;
  color: rgb(0, 0, 0, 0.75);
  font-size: 16px;
  display: flex;
  justify-content: end;
}
.checkout-page .checkout-item-container .item-detail .harga-phoneDisplay{
  display: none;
}
.checkout-page .pop-up-checkout-container{
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none; 
}

.checkout-page .pop-up-checkout-container .pop-up{
  height: calc(302px - 96px);
  width: calc(398px - 70px);
  background-color: var(--dark-g);
  border-radius: 9px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 48px 35px;
  justify-content: space-between;
  transition: scale 0.25s;
}
@keyframes popUpAnimation{
  0%{
    scale: 0;
  }
  60%{
    scale: 1.15;
  }
  100%{
    scale: 1;
  }
}
.checkout-page .pop-up-checkout-container .pop-up a{
  position: absolute;
  top: 23px;
  left: 23px;
  cursor: pointer;
  scale: 1.20;
  transition: all 0.15s;
}
.checkout-page .pop-up-checkout-container .pop-up a:active{
  scale: 1.5;
}

.checkout-page .pop-up-checkout-container .pop-up .nama-user{
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: center;
}
.checkout-page .pop-up-checkout-container .pop-up .nama-user p{
  font-size: 28px;
  font-weight: 600;
}
.checkout-page .pop-up-checkout-container .pop-up button{
  height: 42px;
  border-radius: 100px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #128C7E;
  border: 1px solid #128C7E;
  cursor: pointer;
  transition: all 0.15s;
}
.checkout-page .pop-up-checkout-container .pop-up button:hover{
  background-color: rgba(18, 140, 126,0.75);
}
.checkout-page .pop-up-checkout-container .pop-up button:active{
  background-color: transparent;
}
.checkout-page .pop-up-checkout-container .pop-up .deskripsi{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.messageCartEmpty{
  color: rgb(85, 85, 85);
  position: absolute;
  top: 235px;
  font-size: 16px;
  left: 141px;
  transition: all 0.25s;
}
/*Tablet*/
@media (max-width: 980px) {
  .messageCartEmpty{
    font-size: 14px;
    top: 175px;
    left: 81px;
  }
  .checkout-page{
    padding-top: 163px;
    margin-bottom: 111.5px;
  }
  .checkout-page::after{
    left: 45px;
    right: 45px;
  }
  .checkout-page .top-pad{
    height: 163px;
  }
  .checkout-page .keterangan .daftarItem{
   min-width: 199px;
  }
  .checkout-page .keterangan {
    left: 45px;
    right: 45px;
    padding: 0 24px;
    height: 55px;
    top: 84px;
    padding-left: 36px;
  }
  .checkout-page .checkout-item-container{
    margin: 0 45px;
  }
  .checkout-page .checkout-item-container .item-detail {
    padding: 10px 24px;
    padding-left: 36px;
  }
  .checkout-page .checkout-item-container .item-detail .nama-item a{
    width: 36px;
    height: 36px;
    left: -36px;
  }
  .checkout-page .checkout-item-container .item-detail .nama-item{
    min-width: 199px;
  }
  .checkout-page .checkout-item-container .item-detail .nama-item p{
    margin-left: 24px;
    z-index: -9;
  }
}
/*Mobile Phone*/
@media (max-width: 790px){
  .messageCartEmpty{
    top: 130px;
    left: 49px;
  }
  .checkout-page{
    padding-top: 118px;
    margin-bottom: 90.5px;
  }
  .checkout-page::after{
    left: 0;
    right: 0;
  }
  .checkout-page .checkout-item-container .item-detail .nama-item p{
    margin-bottom: 64.5px;
    font-size: 16px;
    margin-left: 14px;
  }
  .checkout-page .keterangan {
    left: 0px;
    right: 0px;
    padding: 0 24px 0 49px;
    height: 36px;
    top: 71px;
  }
  .checkout-page .keterangan .jumlahItem, .hargaItem{
    display: none;
  }
  .checkout-page .checkout-item-container .item-detail .nama-item{
    align-items: start;
  }
  .checkout-page .checkout-item-container .item-detail .nama-item a{
    left: -42px;
    height: 84px;
    scale: 0.8;
  }
  .checkout-page .checkout-item-container .item-detail .nama-item div{
    width: 84px;
    height: 84px;
  }
  .checkout-page .checkout-item-container .item-detail .total-harga-item{
    position: absolute;
    right: 24px;
    top: 0;
    bottom: 0;
    align-items: center;
    font-size: 14px;
  }
  .checkout-page .keterangan .daftarItem{
    font-size: 16px;
  }
  .checkout-page .top-pad{
    height: 118px;
  }
  .checkout-page .checkout-item-container{
    margin: 0 0;
  }
  .checkout-page .checkout-item-container .item-detail{
    padding: 12px 24px 12px 49px;
    flex-direction: column;
    align-items: start;
    position: relative;
  }
  .checkout-page .checkout-item-container .item-detail .jumlah-item-container{
    position: absolute;
    left: 147px;
    bottom: 12px;
  }
  .checkout-page .checkout-item-container .item-detail .harga-item{
    position: absolute;
    bottom: 41px;
    left: 147px;
    font-size: 12px;
  }
  .checkout-page .checkout-item-container .item-detail .harga-phoneDisplay{
    font-size: 8px;
    font-weight: 500;
    color: rgba(28, 59, 55, 0.75);
    position: absolute;
    bottom: 56px;
    display: flex;
    left: 147px;
  }
  .checkout-page .checkout-item-container .item-detail .jumlah-item-container p{
    font-size: 14px;
  }
  .checkout-page .checkout-item-container .item-detail .jumlah-item-container a{
    font-size: 20px;
    width: 19px;
    height: 16px;
  }
  .checkout-page .checkout-action-container{
    width: auto;
    left: 0;
    right: 0;
    padding: 16px 24px;
  }
  .checkout-page .checkout-action-container .date-container{
    font-size: 14px
  }
  .checkout-page .checkout-action-container .date-container .date{
    margin-top: 6px;
    font-size: 14px;
    border-bottom: none;
    text-align: end;
  }
  #tanggalPengambilan{
    text-align: start;
  }
  .checkout-page .sub-total-container .subtotal{
    font-size: 16px;
  }
  .checkout-page .checkout-action-container .date-container .date:hover{
    color: white;
  }
  .checkout-page .checkout-action-container .date-container .date:active{
    color: rgba(255, 255, 255, 0.75);
  }
  .checkout-page .sub-total-container .subtotal .sub-total-price{
    margin: 0;
  }
  .checkout-page .pop-up-checkout-container .pop-up {
    scale: 0.861809045;
  }
  @keyframes popUpAnimation{
    0%{
      scale: 0;
    }
    60%{
      scale: 0.9;
    }
    100%{
      scale: 0.861809045;
    }
  }  
}
/*Checkout style end*/

/*User popup style start*/
.navbar .user-container{
  position: fixed;
  right: 0;
  display: none;
  flex-direction: column;
  top: 0;
  bottom: 0;
  width: 413px;
  z-index: 10000;
  background-color: var(--dark-g);
  transition: all 0.25s;
}
.navbar .black-screen-user{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.navbar .user-container .close-icon{
  height: 90px;
  display: flex;
  justify-content: end;
  padding: 0 24px;
  align-items: center;
  transition: all 0.25s;
}
.navbar .user-container .close-icon a{
  cursor: pointer;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  transition: all 0.15s;
}
.navbar .user-container .close-icon a:hover{
  background-color: rgba(45, 146, 132,0.25);
}
.navbar .user-container .close-icon a:active{
  background-color: transparent;
  scale: 1.5;
}
.navbar .user-container .profile-pp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  align-items: center;
}
.navbar .user-container .profile-pp .photo{
  width: 76px;
  height: 76px;
  border-radius: 50%;
  margin-bottom: 24px;
  transition: all 0.25s;
}
.navbar .user-container .profile-pp .photo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.navbar .user-container .profile-pp .nama-user{
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 8px;
  transition: all 0.25s;
}
.navbar .user-container .profile-pp .nomor-telepon{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 24px;
  transition: all 0.25s;
}
.navbar .user-container .keterangan-riwayat{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 49px;
  height: 46px;
  background-color: rgba(0, 0, 0, 0.55);
  align-items: center;
  padding: 0 24px;
  margin-bottom: 8px;
  font-size: 16px;
  transition: all 0.25s;
}
.navbar .user-container .riwayat-container{
  display: flex;
  flex-direction: column;
  margin: 0 49px;
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 344px;
  bottom: 0;
  left: 0px;
  right: 0px;
  overflow-y: scroll;
  scrollbar-width: none;
  transition: all 0.25s;
}
.navbar .user-container .riwayat-container .riwayat-detail-box{
  height: auto;
  transition: height 0.25s ease;
}
.navbar .user-container .riwayat-container .riwayat-profile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 46px;
  align-items: center;
  font-size: 14px;
  padding: 0 24px;
  cursor: pointer;
  transition: all 0.15s;
}
.navbar .user-container .riwayat-container .riwayat-profile:hover{
  background-color: rgb(48, 79, 75);
}

.navbar .user-container .riwayat-container .riwayat-profile button{
  height: 19px;
  font-size: 9px;
  font-weight: 600;
  padding: 0 13px;
  border-radius: 30px;
  border: none;
  background-color: #FFC40C;
  color: white;
}
.navbar .user-container .riwayat-container .detail-barang{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 24px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  display: none;
}
.navbar .user-container .riwayat-container .detail-barang p{
  flex: 1;
  max-width: calc(50% - 12px);
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  transition: all 0.25s;
}
.navbar .user-container .riwayat-container .detail-barang .harga{
  text-align: end;
}
/*Tablet*/
@media (max-width: 980px) {
  .navbar .user-container .close-icon{
    height: 60px;
  }
  .navbar .user-container .riwayat-container {
    top: 314px;
  }
}
/*Mobile phone*/
@media (max-width: 790px){
  .navbar .user-container .close-icon{
    align-items: end;
  }
  .navbar .user-container {
    width: 70%;
  }
  .navbar .user-container .riwayat-container {
    top: 283px;
    margin: 0 12px;
  }
  .navbar .user-container .profile-pp .nama-user{
    font-size: 24px;
    margin-bottom: 12px;
  }
  .navbar .user-container .profile-pp .photo {
    margin-bottom: 16px;
  }
  .navbar .user-container .profile-pp .nomor-telepon{
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 400;
  }
  .navbar .user-container .keterangan-riwayat{
    font-size: 14px;
    margin: 0 12px;
  }
  .navbar .user-container .riwayat-container .riwayat-profile{
    font-size: 12px;
  }
  .navbar .user-container .riwayat-container .detail-barang p {
    font-size: 12px;
  }
  .navbar .user-container .riwayat-container .riwayat-profile:hover{
  background-color: transparent;
}
  .navbar .user-container .riwayat-container .riwayat-profile:active{
  background-color: rgb(48, 79, 75);
}
}
/*User popup style end*/

/*Load style start*/
.load-element .load-page{
  position: fixed;
  background-color: var(--dark-g);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-delay: 0.3s;
}

.load-element .logo {
  animation: scaleUp;
  scale: 1;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
   z-index: 10001;
}

.load-element .loading {
  animation: detak;
  scale: 1;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
   z-index: 10001;
}

.load-element .load {
  animation: slowHide;
  scale: 1;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
   z-index: 10001;
}
/*durasi 3 detik*/
@keyframes detak{
0%{
  scale: 1;
}
10%{
  scale: 1;
}
50%{
  scale: 1.5;
}
60%{
  scale: 1.5;
}
100%{
  scale: 1;
}
}

/*durasi 3 detik*/
@keyframes scaleUp{
  0%{
    scale: 1000;
  }
  30%{
    scale: 1.2;
  }
  80%{
    scale: 1;
  }
}

/*durasi 0.6s*/
@keyframes slowHide{
  0%{

    opacity: 1;
    scale: 1;
  }
  100%{
    scale: 2;
    opacity: 0;
  }
}

/*Load style end*/

/*For scipt start*/
@media (max-width: 790px){
  .show{
    animation: showMenu 0.85s ease forwards;
  }
  .hidden {
    animation: closeMenu 1.15s ease forwards;
  }
}

.pop-up-show{
  animation: popUpAnimation 0.5s ease backwards;
}

.show-profile{
  animation: showDetail 0.85s ease forwards;
}
.profile-hidden {
  animation: closeDetail 0.85s ease forwards;
}

/*For scipt end*/

#user {
  display: none;
}