:root{
  --dark-g : rgb(29, 58, 54);
  --yellow : #FFC40C;
  --original : white;
}
a{
  display: flex;
  align-items: center;
  outline: none;
  text-decoration: none;
  justify-content: center;
  color: white;
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: "Inter", sans-serif;
  color: white;
  padding: 0;
  background-color: var(--original);
  overflow-x: hidden;
  min-width: 373px;
}


.checkout-page{
  width: calc(100vw);
  height: auto;
  overflow-x: hidden;
  display: flex;
  transition: padding-top 0.25s;
  padding: 49px 0;
  padding-top: 133px;
  margin-bottom: 111.5px;
  justify-content: center;
  position: relative;
}
.checkout-page::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 99px;
  right: 99px;
  height: 48px;
  border-top: 1px solid rgba(29, 58, 54, 0.35);
  background-color: rgb(255, 255, 255, 0.35);
  transition: all 0.25s;
  z-index: -9;
}
.checkout-page .top-pad{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--original);
  height: 133px;
  z-index: 100;
}
.checkout-page .bottom-pad{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 49px;
  z-index: 99;
  background-color: var(--original);
}

.checkout-page .keterangan{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 42px;
  height: 60px;
  align-items: center;
  background-color: rgb(255, 196, 12);
  position: fixed;
  top: 49px;
  left: 99px;
  right: 99px;
  z-index: 100;
  gap: 24px;
  transition: all 0.25s;
}
.checkout-page .keterangan p{
  color: rgba(0,0,0,0.75);
  font-size: 16px;
  font-weight: 500;
  flex: 1;
  white-space: nowrap;
  }
.checkout-page .keterangan .daftarItem{
  font-size: 20px;
  min-width: 217px;
  transition: all 0.25s;
  }

.checkout-page .keterangan .hargaItem, .jumlahItem {
  text-align: center;
}

.checkout-page .keterangan .totalHarga{
  text-align: end;
}


 .checkout-page .sub-total-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 13px;
  align-items: center;
 }
.checkout-page .sub-total-container .checkout-button{
  height: 35px;
  width: 140px;
  border-radius: 9px;
  border: 1px solid grey;
  font-size: 16px;
  color: var(--dark-g);
  font-weight: 600;
  background-color: grey;
  color: white;
  cursor: pointer;
  transition: all 0.15s;
}
.checkout-page .sub-total-container .checkout-button:hover{
  background-color: rgb(148, 148, 148);
}
.hitung-sukses{
  background-color: #FFC40C;
  color: var(--dark-g);
  height: 35px;
  width: 140px;
  border-radius: 9px;
  border: 1px solid #FFC40C;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.15s;
}

.hitung-sukses:active{
  background-color: transparent;
  color: #FFC40C;
}
.checkout-page .sub-total-container .subtotal{
  font-weight: 600;
  font-style: italic;
}
.checkout-page .sub-total-container .subtotal .sub-total-price{
  font-weight: 400;
  font-style: normal;
  margin-top: 8px;
}

.checkout-page .checkout-action-container {
background-color: var(--dark-g);
position: fixed;
bottom: 0;
height: auto;
width: calc(398px - 80px);
padding: 19px 40px;
display: flex;
flex-direction: column;
justify-content: space-between;
z-index: 100;
transition: all 0.25s;
}

.checkout-page .checkout-action-container  .date-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid rgb(255, 255, 255, 0.35);
  padding-bottom: 13px;
}

.checkout-page .checkout-action-container  .date-container  .date{
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255);
  margin-top: 8px;
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
  text-align: start;
}
.checkout-page .checkout-action-container  .date-container .date::-webkit-calendar-picker-indicator{
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
}

.checkout-page .checkout-action-container  .date-container  .pengembalian{
  text-align: end;
  display: flex;
  flex-direction: column;
}
.checkout-page .checkout-action-container  .date-container  .pengambilan{
  display: flex;
  flex-direction: column;
}

.checkout-page .checkout-item-container{
  width: 100%;
  margin: 0 99px;
  transition: all 0.25s;
}

.checkout-page .checkout-item-container .item-detail {
  display: flex;
  flex-direction: row;
  padding-right: 42px;
  padding-left: 42px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(29, 58, 54, 0.35);
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  transition: all 0.25s;
}

.checkout-page .checkout-item-container .item-detail .nama-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  flex: 1;
  min-width: 217px;
}

.checkout-page .checkout-item-container .item-detail .nama-item a{
  color: rgba(0, 0, 0, 0.55);
  width: 42px;
  height: 42px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.15s;
  position: absolute;
  left: -42px;
  transition: all 0.25s;
}

.checkout-page .checkout-item-container .item-detail .nama-item a:active{
  scale: 1.25;
}

.checkout-page .checkout-item-container .item-detail .nama-item div{
  width: 75px;
  height: 75px;
  border: 1px solid rgb(28, 59, 55);
  transition: all 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout-page .checkout-item-container .item-detail .nama-item div img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.checkout-page .checkout-item-container .item-detail .nama-item p{
  color: rgba(0, 0, 0, 0.75);
  font-size: 20px;
  font-weight: 400;
  margin-left: 42px;
  left: 117px;
  transition: left 0.25s;
  max-width: 100px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  transition: all 0.25s;
}

.checkout-page .checkout-item-container .item-detail .harga-item{
  color: rgba(0, 0, 0, 0.75);
  font-weight: 400;
  font-size: 16px;
  flex: 1;
  text-align: center;
}

.checkout-page .checkout-item-container .item-detail .jumlah-item-container{
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.checkout-page .checkout-item-container .item-detail .jumlah-item-container a{
  background-color: rgba(29, 58, 54, 0.25);
  text-align: center;
  width: 25px;
  height: 22px;
  padding-bottom: 3px;
  color: black;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.15s;
}

.checkout-page .checkout-item-container .item-detail .jumlah-item-container a:active{
  background-color: rgba(29, 58, 54, 0.35);
}

.checkout-page .checkout-item-container .item-detail .jumlah-item-container p{
  min-width: 35px;
  color: black;
  text-align: center;
}

.checkout-page .checkout-item-container .item-detail .total-harga-item {
  flex: 1;
  color: rgb(0, 0, 0, 0.75);
  font-size: 16px;
  display: flex;
  justify-content: end;
}
.checkout-page .checkout-item-container .item-detail .harga-phoneDisplay{
  display: none;
}
.checkout-page .pop-up-checkout-container{
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none; 
}

.checkout-page .pop-up-checkout-container .pop-up{
  height: calc(302px - 96px);
  width: calc(398px - 70px);
  background-color: var(--dark-g);
  border-radius: 9px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 48px 35px;
  justify-content: space-between;
  transition: scale 0.25s;
}
@keyframes popUpAnimation{
  0%{
    scale: 0;
  }
  60%{
    scale: 1.15;
  }
  100%{
    scale: 1;
  }
}
.checkout-page .pop-up-checkout-container .pop-up a{
  position: absolute;
  top: 23px;
  left: 23px;
  cursor: pointer;
  scale: 1.20;
  transition: all 0.15s;
}
.checkout-page .pop-up-checkout-container .pop-up a:active{
  scale: 1.5;
}

.checkout-page .pop-up-checkout-container .pop-up .nama-user{
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: center;
}
.checkout-page .pop-up-checkout-container .pop-up .nama-user p{
  font-size: 28px;
  font-weight: 600;
}
.checkout-page .pop-up-checkout-container .pop-up button{
  height: 42px;
  border-radius: 100px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #128C7E;
  border: 1px solid #128C7E;
  cursor: pointer;
  transition: all 0.15s;
}
.checkout-page .pop-up-checkout-container .pop-up button:hover{
  background-color: rgba(18, 140, 126,0.75);
}
.checkout-page .pop-up-checkout-container .pop-up button:active{
  background-color: transparent;
}
.checkout-page .pop-up-checkout-container .pop-up .deskripsi{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.messageCartEmpty{
  color: rgb(85, 85, 85);
  position: absolute;
  top: 235px;
  font-size: 16px;
  left: 141px;
  transition: all 0.25s;
}
/*Tablet*/
@media (max-width: 980px) {
  .messageCartEmpty{
    font-size: 14px;
    top: 175px;
    left: 81px;
  }
  .checkout-page{
    padding-top: 115px;
    margin-bottom: 111.5px;
  }
  .checkout-page::after{
    left: 45px;
    right: 45px;
  }
  .checkout-page .top-pad{
    height: 115px;
  }
  .checkout-page .keterangan .daftarItem{
   min-width: 199px;
  }
  .checkout-page .keterangan {
    left: 45px;
    right: 45px;
    padding: 0 24px;
    height: 55px;
    top: 36px;
    padding-left: 36px;
  }
  .checkout-page .checkout-item-container{
    margin: 0 45px;
  }
  .checkout-page .checkout-item-container .item-detail {
    padding: 10px 24px;
    padding-left: 36px;
  }
  .checkout-page .checkout-item-container .item-detail .nama-item a{
    width: 36px;
    height: 36px;
    left: -36px;
  }
  .checkout-page .checkout-item-container .item-detail .nama-item{
    min-width: 199px;
  }
  .checkout-page .checkout-item-container .item-detail .nama-item p{
    margin-left: 24px;
    z-index: -9;
  }
}
/*Mobile Phone*/
@media (max-width: 790px){
  .checkout-page .sub-total-container .checkout-button:hover{
    background-color: grey;
  }
  .checkout-page .sub-total-container .checkout-button:active{
    background-color: rgb(67, 67, 67);
  }
  .messageCartEmpty{
    top: 95px;
    left: 49px;
  }
  .checkout-page{
    padding-top: 89px;
    margin-bottom: 90.5px;
  }
  .checkout-page::after{
    left: 0;
    right: 0;
  }
  .checkout-page .checkout-item-container .item-detail .nama-item p{
    margin-bottom: 64.5px;
    font-size: 16px;
    margin-left: 14px;
  }
  .checkout-page .keterangan {
    left: 0px;
    right: 0px;
    padding: 0 24px 0 49px;
    height: 36px;
    top: 36px;
  }
  .checkout-page .keterangan .jumlahItem, .hargaItem{
    display: none;
  }
  .checkout-page .checkout-item-container .item-detail .nama-item{
    align-items: start;
  }
  .checkout-page .checkout-item-container .item-detail .nama-item a{
    left: -42px;
    height: 84px;
    scale: 0.8;
  }
  .checkout-page .checkout-item-container .item-detail .nama-item div{
    width: 84px;
    height: 84px;
  }
  .checkout-page .checkout-item-container .item-detail .total-harga-item{
    position: absolute;
    right: 24px;
    top: 0;
    bottom: 0;
    align-items: center;
    font-size: 14px;
  }
  .checkout-page .keterangan .daftarItem{
    font-size: 16px;
  }
  .checkout-page .top-pad{
    height: 89px;
  }
  .checkout-page .checkout-item-container{
    margin: 0 0;
  }
  .checkout-page .checkout-item-container .item-detail{
    padding: 12px 24px 12px 49px;
    flex-direction: column;
    align-items: start;
    position: relative;
  }
  .checkout-page .checkout-item-container .item-detail .jumlah-item-container{
    position: absolute;
    left: 147px;
    bottom: 12px;
  }
  .checkout-page .checkout-item-container .item-detail .harga-item{
    position: absolute;
    bottom: 41px;
    left: 147px;
    font-size: 12px;
  }
  .checkout-page .checkout-item-container .item-detail .harga-phoneDisplay{
    font-size: 8px;
    font-weight: 500;
    color: rgba(28, 59, 55, 0.75);
    position: absolute;
    bottom: 56px;
    display: flex;
    left: 147px;
  }
  .checkout-page .checkout-item-container .item-detail .jumlah-item-container p{
    font-size: 14px;
  }
  .checkout-page .checkout-item-container .item-detail .jumlah-item-container a{
    font-size: 20px;
    width: 19px;
    height: 16px;
  }
  .checkout-page .checkout-action-container{
    width: auto;
    left: 0;
    right: 0;
    padding: 16px 24px;
  }
  .checkout-page .checkout-action-container .date-container{
    font-size: 14px
  }
  .checkout-page .checkout-action-container .date-container .date{
    margin-top: 6px;
    font-size: 14px;
    border-bottom: none;
    text-align: start;
  }

  .checkout-page .sub-total-container .subtotal{
    font-size: 16px;
  }
  .checkout-page .checkout-action-container .date-container .date:hover{
    color: white;
  }
  .checkout-page .checkout-action-container .date-container .date:active{
    color: rgba(255, 255, 255, 0.75);
  }
  .checkout-page .sub-total-container .subtotal .sub-total-price{
    margin: 0;
  }
  .checkout-page .pop-up-checkout-container .pop-up {
    scale: 0.861809045;
  }
  @keyframes popUpAnimation{
    0%{
      scale: 0;
    }
    60%{
      scale: 0.9;
    }
    100%{
      scale: 0.861809045;
    }
  }  
}
.pengambilan, .pengembalian{
  position: relative;
}
.pengambilan input, .pengembalian input{
  width: 128px;
}
.date-container svg{
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--dark-g);
  pointer-events: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.calendar-icon{
  width: 100px;
  height: 40px;
  cursor: pointer;
}
.atention{
  position: absolute;
  color: red;
  font-weight: 500;
  font-size: 16px;
  top: -24.5px;
  right: 0px;
  left: 0;
  text-align: end;
}
.pop-up-show{
  animation: popUpAnimation 0.5s ease backwards;
}

/*Checkout style end*/